# Node.js Modules
node_modules/
4_nodemon/node_modules/
6_EXPRESS/8_modulo_rotas/node_modules
6_EXPRESS/9_colocando_css/node_modules
6_EXPRESS/10_404/node_modules
7_TEMPLATE_ENGINE/1_instalacao_handlebars/node_modules
7_TEMPLATE_ENGINE/2_layouts/node_modules
# Package lock and JSON files
package-lock.json
package.json