# Node.js Modules
node_modules/
4_nodemon/node_modules/
6_EXPRESS/8_modulo_rotas/node_modules
6_EXPRESS/9_colocando_css/node_modules
6_EXPRESS/10_404/node_modules
7_TEMPLATE_ENGINE/1_instalacao_handlebars/node_modules
7_TEMPLATE_ENGINE/2_layouts/node_modules
7_TEMPLATE_ENGINE/3_dados_para_view/node_modules
7_TEMPLATE_ENGINE/4_condicionais/node_modules
7_TEMPLATE_ENGINE/5_else/node_modules
7_TEMPLATE_ENGINE/6_estrutura_repeticao/node_modules
7_TEMPLATE_ENGINE/7_whith/node_modules
7_TEMPLATE_ENGINE/8_partials/node_modules
7_TEMPLATE_ENGINE/9_css/node_modules
7_TEMPLATE_ENGINE/10_quarta_tarefa/node_modules
8_NODE_E_MYSQL/1_instalacao_handlebars/node_modules
8_NODE_E_MYSQL/2_inserindo_dados/node_modules
8_NODE_E_MYSQL/3_resgatar_dados/node_modules
8_NODE_E_MYSQL/4_resgatar_individuais/node_modules
8_NODE_E_MYSQL/5_edicao_primeira_etapa/node_modules
# Package lock and JSON files
package-lock.json
package.json